* {
    margin:0;
}
body{
    background-image: linear-gradient(to bottom, #247B7B , #0D5C63);
    width: 100vw;
    height: 100vh
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}